%section.large
	.col-md-8
		= image_tag "macbook.png"
	.col-md-4
		%h2 A Open Source Ruby on Rails Blogging Engine
		%h4 Blogr is a complete solution for adding blogging to a Rails 4 application.
		.buttons.col-md-10.col-md-offset-1
			= link_to "Get Started", "", class: "btn btn-success btn-lg btn-block"
			= link_to "View Blogr on GitHub", "", class: "btn btn-default btn-lg btn-block"
			= link_to "Read the Docs", "", class: "btn btn-default btn-lg btn-block"