%section.large
	.right
		%h2 A Ruby on Rails Blogging Engine
		%h5 Blogr is a complete solution for adding blogging to a Rails 4 application.
		.buttons
			= link_to "Get Started", "", class: "btn btn-default btn-lg get-started"
			= link_to "View Blogr on GitHub", "", class: "btn btn-default btn-lg view-github"
		/ = image_tag "http://tryshoppe.com/assets/rails-5bd16e4b75fd966a0e9835e0d6eb89c4.png", width: 158
	= image_tag "macbook.png", class: "screenshot"