body
	
img
	max-width: 100%

header
	border-bottom: 1px solid black

section.main
	background: #f9ba60

section.large
	// height: 465px
	padding: 20px 0

	.right
		float: right
		display: inline
		width: 40%

	.screenshot
		// float: right
		width: 60%
		display: inline

.btn
	&.get-started, &.view-github
		background-repeat: no-repeat
	&.get-started
		background-image: url(icons/black/arrow-right.svg)
		background-size: 22px
		background-position: 120px 10px
		padding-right: 40px
	&.view-github
		background-image: url(icons/black/curlybrace-2.svg)
		background-size: 22px
		background-position: 197px 10px
		padding-right: 40px

footer
	border-top: 1px solid black
	padding: 25px 0
	.l
		float: left
	.r
		float: right